[submodule "planners/forced-action-ff"]
	path = planners/forced-action-ff
	url = https://version.aalto.fi/gitlab/elahim1/forced-action-ff
[submodule "planners/fast-downward"]
	path = planners/fast-downward
	url = https://version.aalto.fi/gitlab/elahim1/forced-action-fd
[submodule "stonesandgem"]
	path = stonesandgem
	url = https://github.com/tuero/stonesngems_cpp
[submodule "planners/pddl-plus/enhsp"]
	path = planners/pddl-plus/enhsp
	url = https://github.com/hstairs/enhsp
